.tiptap-excalidraw-static {
  position: relative;
}

.tiptap-excalidraw-thumbnail-wrapper {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 140px;
  min-height: 120px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgb(235, 235, 235);
}

.tiptap-excalidraw-thumbnail {
  height: 100%;
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  cursor: zoom-in;
  border-style: none;
  image-rendering: -webkit-optimize-contrast;
}

.tiptap-excalidraw-edit-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
  display: none;
}

.tiptap-excalidraw-static:hover .tiptap-excalidraw-edit-btn {
  display: block;
}
